div {
  margin: auto;
}
div h1 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  border: 2px solid cadetblue;
  min-height: 50vh;
  padding: 20px;
}
form input {
  font-size: 20px;
  padding: 5px;
}
form button {
  font-size: 18px;
  background: transparent;
  border: 1px solid #04aa6d;
  padding: 7px;
  cursor: pointer;
  transition: 0.3s;
  color: green;
}
form button:hover {
  color: white;
  background-color: #04aa6d;
}
.result {
  display: flex;
  justify-content: space-evenly;
  max-width: 80%;
  border: 1px solid black;
  overflow: scroll;
  max-height: 100vh;
  gap: 10px;
  margin-top: -100px;
}
.result-div {
  border: 2px solid black;
  margin-top: -60px;
}
